.tasker {
    grid-column: 3 / 5;
    grid-row: 2 / 7;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
    border-top: 1px solid rgb(110, 107, 107);
    /* overflow: scroll; */
}

.taskLog {
    grid-row: 1;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    /* border-top: 1px solid rgb(110, 107, 107); */
    max-height: 100%;
    /* overflow: hidden; */
    overflow: scroll;
}

.taskItem {
    display: flex;
    align-items: center;
    padding: 5% 0 5% 10%;
    background: #3B455C;
    border-bottom: 1px solid rgb(110, 107, 107);
}

.taskItem span {
    color: rgb(238, 238, 238);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    word-spacing: 1px;
}

.taskInput{
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    border: 1px solid rgb(110, 107, 107);
    background: #3B455C;  
} 

.taskInputItem {
    background: white;
    border-radius: 15px;
    text-align: center;
    color: #3B455C;
    /* font-family */
    font-size: .8rem;
    padding: 5px;
    width: 50%;
}

.taskInputItem::placeholder {
    color: rgb(110, 107, 107);
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    text-align: center;
    font-size: .8rem;
}


